
.screen-container {
    margin: 0;
    padding: 0;
    display: grid;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(250,250,250,1) 34%, rgba(250,250,250,1) 77%, rgba(250,250,250,1) 83%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(250,250,250,1) 34%, rgba(250,250,250,1) 77%, rgba(250,250,250,1) 83%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(250,250,250,1) 34%, rgba(250,250,250,1) 77%, rgba(250,250,250,1) 83%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#ffffff",GradientType=1);
    grid-template-columns: 1fr 1.3fr 1fr;
}

.side-panel-container.left {
    padding: 15% 22.5% 0 15%;
}
.side-panel-container.right {
    padding: 15% 15% 0 22.5%;
}

.main-panel-container {
    padding-top: 15%;
}

.main-panel {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #FFFFFF;
    border: 0.75px solid #707070;
}

.main-panel-title {

}

.h2-title {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}
    .h2-title.left {
        text-align: left;
    }
    .h2-title.right {
        text-align: right;
    }

.linked-side-panel {
    display: block;
    margin: 12% 0 12% 0;
    padding: 6% 3% 6% 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;
    border: 0.75px solid #707070;
}
