a {
    color: #6A6868;
}

.container {
    text-align: center;
}

#main-container {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


.external-links-array {
    margin-top: 3%;
}

.grey-icon {
    color: #ADB5BD;
    padding: 0 1%;
}

    .grey-icon:hover {
        color: #707070;
    }

.icon-container {
    position: relative;
}

.icon-text {
    font-family: 'Segoe UI';
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    color: #FFF;
    text-align: center;
    position: absolute;
    bottom: 200%;
    left: 22%;
    right: 78%;
}

#main-title {
    font-family: 'Segoe UI';
    font-family: 'Lato', sans-serif;
    font-size: 7vw;
    color: #707070;
    text-align: center;
}

.subtitle {
    font-family: 'Segoe UI';
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    color: #6A6868;
    text-align: center;
    margin: 1.25% 5%;
    width: 90%;
}

#panels-trigger {
    font-size: 1.75vw;
    margin-top: 3%;
    text-decoration: underline;
}

#panels-trigger:hover {
    cursor:pointer;
}

.text-panel {
    font-family: 'Segoe UI';
    font-family: 'Lato', sans-serif;
    font-size: 1.75vw;
    color: #6A6868;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #C4B7B7;
    width: 90%;
    margin: 0 5%;
    margin-bottom: 2%;
    padding: 0.75%;
    display: none;
}

#resume {
    margin-top: 5%;
    margin-bottom: 20%;
    display: none;
}

#resume-link {
    font-family: 'Segoe UI';
    font-family: 'Lato', sans-serif;
    font-size: 1.75vw;
}